<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    
   
    <script src="~/Scripts/numeric-input-example.js"></script>
    <script src="~/Scripts/mindmup-editabletable.js"></script>
    
    
    
</head>
<body>
    
    <div >
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Inmobiliario</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/spcontext")
    @RenderSection("scripts", required: false)
</body>
</html>
