@model InmosystemWeb.Models.PlandeCuentas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlandeCuentas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plan_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan_GrupoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan_GrupoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan_NombreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan_NombreId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
